.fumlogo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  background-image: url(../pictures/fumlogo2.png);

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#fumnav{
    margin: 5px;
    margin-left:15px;
}

.fumh1{
  font-size: 50px;
  text-align: center;
}

.aboutfum{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

#tinalaugh{
  width: auto;
  height: 500px;
}

#fumparagraph{
  padding-right: 150px;
}

#ourpodcasts{
  text-align: center;
}

#podcasts{
  display: flex;
  flex-direction: row ;
  justify-content: center;
}

.card{
  margin-left: 75px;
}

#gallery{
  text-align: center;
  margin: 30px;
}

#gallery1{
  size: 50%;
}

#gallery-section{
  display:flex;
  flex-direction: row
}